# File with requirements for *booru requests and discord API

dis_settings = {
    'token': '',
    'bot': '',
    'id': 000,
    'prefix': '!',
    'embed_color1': 0xCCFFA1,
    'embed_color2': 0xED538E
}

danbooru_api_info = {
    'login' : '',
    'key' : ''
}
